﻿<fieldset class="card">
    <label>Driver Search <span class="fyiNote">(Mobile # or search by name)</span> </label>
    <input autocomplete="off" id="MobileNumber" name="MobileNumber" type="text" value="@ViewBag.MobileNumber" class="ui-autocomplete-input">
    
        <label>Driver:</label>
        <label>@ViewBag.DriverName</label>
        <label>Status <span class="fyiNote">(Oracle.Driver.DRV_STATUS)</span>:</label>
        <label>@ViewBag.DriverStatus</label>

    <input type="submit" value="Go" />
</fieldset>



