﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("AdditionalHead", false)

    @Styles.Render("~/Content/css")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            <img src="~/img/IPD_Shield_SPOT 64x64.png" class="header-logo" />
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                
                @*@Html.ActionLink("IPD Driver", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@                
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Collection Processing", "CollectionBatches", "Accounting")</li>
                    <li>@Html.ActionLink("Payment Processing", "PaymentBatches", "Accounting")</li>
                    <li>@*@Html.ActionLink("Driver Statements", "PaymentProcessing", "Home")*@</li>
                    <li>@Html.ActionLink("Recent Drivers", "DriverList", "Home")</li>
                    <li>@Html.ActionLink("Driver Activity", "DriverActivity", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @*<footer>
            <p>&copy; @DateTime.Now.Year - IPD Mobile / Datatrac, Inc.</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
