﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-logo {
    float: left;
    margin-bottom: -15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.editor-label
{
    display: inline;
    
}
    .editor-label label {
        float:left;
    }
    .editor-field {
        float:left;
        margin-left: 5px;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
