﻿@*@using EnumHtmlHelper.Helper*@
@model IPD.InternalWeb.Models.DriverProfileModel

@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    @Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/knockout")

    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/all.css">

    <script type="text/javascript">
    $('#@Html.IdFor(m => m.MobileNumber)').autocomplete({
        source: '@Url.Action("DriverSearch", "Home")',
        minLength: 3,
        response: function (event, ui) {

        }
    });

    var IPD = {};
    IPD.initalizeVM = function (driver) {
        var driverVM = {
            MobileNumber: driver.MobileNumber,
            id: driver.id,
            statusUrl: "@Url.Action("DriverActivity","Home")/" + driver.MobileNumber,
            Status: ko.observable(driver.Status),
            FirstName: ko.observable(driver.FirstName),
            LastName: ko.observable(driver.LastName),
            StreetAddress1: ko.observable(driver.StreetAddress1),
            StreetAddress2: ko.observable(driver.StreetAddress2),
            City: ko.observable(driver.City),
            State: ko.observable(driver.State),
            PostalCode: ko.observable(driver.PostalCode),
            ACHPayeeId: ko.observable(driver.ACHPayeeId),
            PreferredPmtMethod: ko.observable(driver.PreferredPmtMethod),
            ApprovedForPmt: ko.observable(driver.ApprovedForPmt),
            BadgeId: ko.observable(driver.BadgeId)
        }
        IPD.viewModel = driverVM;
    };

    IPD.bindData = function (driver) {
        IPD.initalizeVM(driver);
        ko.applyBindings(IPD.viewModel);
    };

    IPD.getDriver = function (mobileNumber) {
        var viewModel = {
            MobileNumber: mobileNumber
        };
        var url = '@Url.Action("FindDriver", "Driver")' + '/' + mobileNumber;
            $.ajax({
                url: url ,
                dataType: 'json',
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify(viewModel),
                success: function (data) {
                    if (data.success) {
                        $('#driverInfo').show();
                        IPD.bindData(data);

                    }
                },
                error: function (jqXHR, statusMsg, err) {
                    alert(jqXHR.responseText);
                }
            });
    }
        IPD.updateDriver = function () {
            var url = '@Url.Action("UpdateDriver", "Driver")';
            $.ajax({
                url: url,
                dataType: 'json',
                type: "post",
                contentType: 'application/json',
                data: ko.toJSON(IPD.viewModel),
                //dataType: 'json',
                success: function (data) {
                    if (data.success) {
                         $('#dialogContainer')
                        .html("<span>Driver saved.</span>")
                        .dialog({
                            modal: true,
                            zIndex: 1000,
                            autoOpen: true,
                            dialogClass: "no-close",
                            resizable: false,
                            closeOnEscape: true,
                            minWidth: 400,
                            open: function () {
                                $('#dialog').fadeIn('fast');
                            },
                            buttons: {
                               Ok: function () {
                                    $(this).dialog("close");
                                }
                            }

                        });
                    }
                    else
                        alert("Failed. Description: " + (data.errorDescription || "<no error description was found>"));
                },
                error: function (jqXHR, statusMsg, err) {
                    alert(jqXHR.responseText);
                }
            });
        };

    $('#butGetDriver').click(function () {
        IPD.getDriver($('#@Html.IdFor(m => m.MobileNumber)').val());
    });

    $('#butSaveDriverInfo').click(function () {
        IPD.updateDriver();
    });
    
    @if (!string.IsNullOrEmpty(Model.MobileNumber))
    {
        <text>
        IPD.getDriver('@(Model.MobileNumber)');
        </text>
    }


</script>
}


    <style>
        .container {
            max-width: 1900px;
        }
        #driverInfo {
            display:none;
        }

    #driverInfo label {
        min-width: 180px;
        /*margin-left: 15px;*/
    }

    #dialog {
        display:none;
    }
    </style>


    <fieldset class="card">
        <label>Driver Search <span class="fyiNote">(Mobile # or search by name)</span> </label>
        @Html.TextBoxFor(m => m.MobileNumber, new { autocomplete = "off"})

        <label>Driver:</label>
        @Html.ValueFor(m => m.FirstName)
        <label>Status <span class="fyiNote">(Model.Status)</span>:</label>
        @Html.ValueFor(m => m.Status)

        @*@if (!String.IsNullOrEmpty(Model))
            {
                <label style="font-style:italic">Driver not found</label>
            }*@
        <button id="butGetDriver" >Go</button>
    </fieldset>


    <div id="driverInfo" class="container card">
        <div class="row">
            <div class="col-md-12">
                    <fieldset >
                        <label>Status: </label><a  data-bind="text: Status, attr: {href: statusUrl}" target="_blank" href=""></a>
                        <br />
                        <label>Mobile Number: </label><label data-bind="text: MobileNumber" style="width: 200px;"></label>
                        <br />
                        <label>First Name: </label><input data-bind="value: FirstName" type="text" style="width: 200px;" />
                        <br />
                        <label>Last Name:</label><input data-bind="value: LastName" type="text" style="width: 200px;" />
                        <br />
                        <label>Street Address:</label><input data-bind="value: StreetAddress1" type="text" />
                        <br />
                        <label>&nbsp;</label><input data-bind="value: StreetAddress2" type="text" />
                        <br />
                        <label>City:</label><input data-bind="value: City" type="text" />
                        <br />
                        <label>State:</label><input data-bind="value: State" type="text" />
                        <br />
                        <label>Postal Code: </label><input data-bind="value: PostalCode" type="text" />
                        <br />

                        <label>ACH Payee Id: </label><input data-bind="value: ACHPayeeId" type="text" />
                        <br>
                        <label>Payment Method: </label><select data-bind="value: PreferredPmtMethod">
                            <option value="0" label="Not Set" />
                            <option value="2" label="ACH Deposit" />
                            <option value="1" label="Check" />
                        </select>
                        <br />
                        <label >Approved For Payment? </label><input data-bind="checked: $data.ApprovedForPmt" type="checkbox" />
                        <br />
                        <label>Driver Code (Badge Id): </label><input data-bind="value: BadgeId" type="text" style="font-weight:bold; border:none;" readonly />
                        <br />

                        <button id="butSaveDriverInfo">Save</button>
                        </fieldset>
            </div>
        </div>
    </div>
<div id="dialogContainer"></div>

