﻿@model IPD.InternalWeb.Models.AccountingBatchesViewModel
@{
    ViewBag.Title = Model.BatchType.ToString() + " Processing";
    
}

@section AdditionalHead
{
    <style>
        .batchListRow{
            height:100%;
        }
        .batchList {
            max-height: 800px;
            overflow-x: hidden;
            padding-right: 0px;
        }

        .notApprovedForPmt {
            color: red;
        }

        .accountingBatch {
            border-left: 4px solid transparent;
            cursor: pointer;
            padding: 2px 10px;
            border-bottom: 1px solid rgba(224, 224, 224, 1);
            background-color: white;
            width: 100%;                        
        }
            .accountingBatch:hover {
                border-left: 4px solid rgba(255,199,42,.35);
            }
            .accountBatchSelected {
                border-left: 4px solid #ffc72a;
                background-color: rgb(238, 238, 238);
                border-bottom: 1px solid transparent;
            }
            .accountBatchSelected:hover {
                border-left: 4px solid #ffc72a;
            }

            .accountingBatch span:last-child {
                float:right;
            }

        .batchStatus{
            font-weight:bold;
        }
        .batchLastUpdated {
            font-size: .8em;
        }
        .batchOrderList {
            width: 100%;
        }
        .batchOrderRow {
            border-bottom: 1px solid rgba(224, 224, 224, 1);
        }
        .expandingLink {
            margin-top: 10px;
            cursor:pointer;
        }
        #orderListWrapper{
            max-height:600px;
            overflow-x:hidden;
            
        }
        .orderAmount{
            text-align: right;
        }
        .orderList {
            width: 100%;
        }
        .orderList th {
            padding: 4px;
        }
        .orderList td{
            
        }

        .orderList tr th:last-child,
        .orderList tr td:last-child {
            text-align: right;
        }

        .batchAction {
            padding: 0px 5px;
            cursor: pointer;
            margin-left: 20px;
            float: right;
        }

        #addNewBatch {
            cursor:pointer;
        }
        .newBatchFields input[type=submit]{
            margin-bottom: 7px;
        }
        .newBatchFields input{
            min-width: 17em;
        }

    </style>    

    @*@Scripts.Render("~/bundles/jquery-ui")*@
    @Styles.Render("~/Content/themes/base/")

}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/IPDJSONModels.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript">
    function AccountingBatchList() {
        var self = this;
        self.items = [];
        self.findById = function (batchId) {
            for (var i = 0; i < self.items.length; i++) {
                if (self.items[i].id == batchId) {
                    return self.items[i];
                }
            }
            return null;
        }
        self.removeById = function (id) {
            var item = self.findById(id);
            self.remove(item);
        }
        self.remove = function (batch) {
            var idx = self.items.indexOf(batch);
            if (idx > -1) {
                self.items.splice(idx, 1);
            }
        }
    }
    var accountingBatchList = new AccountingBatchList();

    function displayFor(label, value, valueId, valueTag, valueAttributes) {
        valueTag = valueTag || "span";
        valueAttributes = valueAttributes || "";
        return "<label for='" + valueId + "'>" + label + "</label><" + valueTag + " id='" + valueId + "' " + valueAttributes + ">" + value + "</" + valueTag + ">";
    }

    $(function () {
        $('.accountingBatch').each(function (index) {
            $(this).click(accountingBatch_click);
        });



        function accountingBatch_click() {
            var batchId = $(this).data("batchid");
            var existingResponse = accountingBatchList.findById(batchId);

            if (existingResponse) {
                setAccountingBatch(existingResponse);
            }
            else {
                $.ajax({
                    url: "@Url.Action("GetBatch","Accounting")",
                    dataType: "json",
                    contentType: "application/json",
                    type: "POST",
                    data: "{pBatchId:'" + batchId + "'}",
                    success: function (response) {
                        accountingBatchList.items.push(response);
                        setAccountingBatch(response);
                    },
                    error: function (xhr, ajaxOptions, error) {
                        alert(error);
                    }
                });
            }

        }

        function setAccountingBatch(response) {
            //Deslect the current batch
            var currentSelection = new AccountingBatch();
            if (currentSelection) {
                var batchListItem = currentSelection.GetListItem();
                if (currentSelection.id != response.id && batchListItem)
                    batchListItem.removeClass("accountBatchSelected");
            }

            $('#SelectedBatchId').val(response.id);
            var html = displayFor("Status", response.Status, "SelectedBatch_Status");
            if (response.NextStep) {
                html += "<a id='butNextStep' class='batchAction'>Advance to " + response.NextStep + "</a>";
            }
            if (response.AllowCancel) {
                html += "<a id='butCancel' class='batchAction'>Cancel</a>";
            }
            if (response.Status == "New")
                html += "<a id='butDelete' class='batchAction'>Delete</a>";

            html += "<input type='hidden' id='SelectedBatchId' value='" + response.id + "'/>";
            html += "<br/><label for='SelectedBatch_Description'>Description</label><input class='text-box single-line' maxlength='64' size='64' id='SelectedBatch_Description' name='SelectedBatch.Description' type='text' value='" + response.Description + "'/>";
            html += "<button id='butSaveDescription'>Save</button>";
            html += "<br/>" + displayFor("Last Modified By ", response.UpdatedBy, "SelectedBatch_UpdatedBy");
            

            showText = "+ Orders (" + response.OrderCount + ")";

            $('#selectedBatchFieldset').fadeOut('fast', function () {
                $('#showOrders').text(showText);
                $("#orderListWrapper").empty();
                $('#selectedBatch').empty();
                $('#selectedBatch').append(html);
                //$('#selectedBatch').fadeIn('fast');
                $('#selectedBatchFieldset').fadeIn('fast');                
                $('#butSaveDescription').click(updateDescription)
                $('#butNextStep').click(moveNextStep)
                $('#butCancel').click(butCancel_click)
                $('#butDelete').click(butDelete_click)
                var newSelection = new AccountingBatch();
                var listItem = newSelection.GetListItem();
                if (listItem)
                    listItem.addClass("accountBatchSelected");

                var batchResponse = accountingBatchList.findById(newSelection.id);
                $('#Message').val(batchResponse.Message);
                $('#MessageHeader').val(batchResponse.MessageHeader);                
            });
        }

        function butCancel_click() {
            var selectedBatch = accountingBatchList.findById(new AccountingBatch().id);
            $('#dialogContainer')
                .html("<span>Cancel this batch?</span>")
                .dialog({
                    modal: true,
                    title: 'Confirm Batch Cancel?',
                    zIndex: 1000,
                    autoOpen: true,
                    dialogClass: "no-close",
                    resizable: false,
                    minWidth: 400,
                    buttons: {
                        Yes: function () {
                            $(this).dialog("close");
                            $.ajax({
                                url: '@Url.Action("CancelBatch", "Accounting")',
                                dataType: 'json',
                                contentType: "application/json",
                                type: "POST",
                                data: JSON.stringify(selectedBatch),
                                success: function (response) {
                                    var acctBatch = new AccountingBatch();
                                    //var selectedBatch = accountingBatchList.findById(acctBatch.id);
                                    //var batchListItem = $('#batchList').find("[data-batchid='" + acctBatch.id + "']");
                                    var batchListItem = acctBatch.GetListItem();
                                    if (batchListItem) {
                                        var status = $(batchListItem).find('.batchStatus');
                                        $(status).text(response.Status);
                                    }
                                    accountingBatchList.removeById(acctBatch.id);
                                    accountingBatchList.items.push(response);
                                    setAccountingBatch(response);
                                }
                            });
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    }
                });
        }

        function butDelete_click() {
            var selectedBatch = accountingBatchList.findById(new AccountingBatch().id);
            $('#dialogContainer')
                .html("<span>Delete this batch?</span>")
                .dialog({
                    modal: true,
                    title: 'Confirm Batch Delete?',
                    zIndex: 1000,
                    autoOpen: true,
                    dialogClass: "no-close",
                    resizable: false,
                    minWidth: 400,
                    buttons: {
                        Yes: function () {
                            $(this).dialog("close");
                            $.ajax({
                                url: '@Url.Action("DeleteBatch", "Accounting")',
                                dataType: 'json',
                                contentType: "application/json",
                                type: "POST",
                                data: JSON.stringify(selectedBatch),
                                success: function (response) {
                                    var acctBatch = new AccountingBatch();
                                    var batchListItem = acctBatch.GetListItem();
                                    $('#selectedBatchFieldset').fadeOut('fast', function () {
                                        $('#selectedBatch').empty();
                                    });
                                    accountingBatchList.remove(acctBatch);
                                    $(batchListItem).remove();
                                }
                            });
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    }
                });
        }

        function moveNextStep() {
            var selectedBatch = accountingBatchList.findById(new AccountingBatch().id);
            $('#dialogContainer')
                .html("<span>Advance this batch to a status of '" + selectedBatch.NextStep + "'?</span>")
                .dialog({
                    modal: true,
                    title: 'Advance Batch?',
                    zIndex: 1000,
                    autoOpen: true,
                    dialogClass: "no-close",
                    resizable: false,
                    minWidth: 400,
                    buttons: {
                        Yes: function () {
                            $(this).dialog("close");
                            $.ajax({
                                url: '@Url.Action("AdvanceBatchStatus", "Accounting")',
                                dataType: 'json',
                                contentType: "application/json",
                                type: "POST",
                                data: JSON.stringify(selectedBatch),
                                success: function (response) {
                                    var acctBatch = new AccountingBatch();
                                    //var selectedBatch = accountingBatchList.findById(acctBatch.id);
                                    var batchListItem = $('#batchList').find("[data-batchid='" + acctBatch.id + "']");
                                    if (batchListItem) {
                                        var status = $(batchListItem).find('.batchStatus');
                                        $(status).text(response.Status);
                                    }
                                    accountingBatchList.removeById(acctBatch.id);
                                    accountingBatchList.items.push(response);
                                    setAccountingBatch(response);
                                }
                            });
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    }
                });
        }

        function updateDescription(e) {
            var accountingBatch = new AccountingBatch();
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("UpdateBatch", "Accounting")',
                dataType: 'json',
                contentType: "application/json",
                type: "POST",
                data: JSON.stringify(accountingBatch),
                success: function (response) {
                    //alert(response.result);
                    var acctBatch = new AccountingBatch();
                    var batchListItem = $('#batchList').find("[data-batchid='" + acctBatch.id + "']");
                    if (batchListItem) {

                        var desc = $(batchListItem).find('.batchDescription');
                        $(desc).text(acctBatch.Description);
                    }
                }
            });

        }

        var showText = null;
        var hideText = "- Orders";

        function showOrders_click() {
            var accountingBatch = new AccountingBatch();
            var selectedAccountingBatch = accountingBatchList.findById(accountingBatch.id);
            if (!selectedAccountingBatch.OrderAccountingBatches) {
                $.ajax({
                    url: '@Url.Action("BatchOrderList", "Accounting")',
                    dataType: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(accountingBatch),
                    success: function (response) {
                        selectedAccountingBatch.OrderAccountingBatches = response;
                        setOrderList(selectedAccountingBatch);
                    }
                });
            }
            else {
                //Orders already retrieved
                if ($("#orderListWrapper").is(":empty")) {
                    setOrderList(selectedAccountingBatch);
                }
                else {
                    if ($('#showOrders').text() == hideText) {
                        $('#showOrders').text(showText);
                    } else {
                        $('#showOrders').text(hideText);
                    }
                    $('#orderListWrapper').fadeToggle('fast');
                }
            }
        }

        function setOrderList(accountingBatch) {
            if ($("#orderListWrapper").is(":empty")) {
                var tbl = "<table class='orderList'>";
                for (var i = 0; i < accountingBatch.OrderAccountingBatches.length; i++) {                    
                    var order = new OrderAccountingBatch(accountingBatch.OrderAccountingBatches[i]);
                    if (i == 0) tbl += order.THead;
                    tbl += order.toTR();
                }
                tbl += "</tbody></table>";
                $("#orderListWrapper").append(tbl);
                $('#showOrders').text(hideText);
                $("#orderListWrapper").fadeIn('fast');
            }
        }

        $('#addNewBatch').click(function () {
            $('.newBatchFields').slideToggle('fast');
        });

        $('#showOrders').click(showOrders_click);

        $('#generateStatmentsLink').click(function () {
            var acctBatch = new AccountingBatch();
            $('#BatchId').val(acctBatch.id);
            $('#statmentsWrapper')
                .dialog({
                    modal: true,
                    zIndex: 1000,
                    autoOpen: true,
                    dialogClass: "no-close",
                    resizable: false,
                    closeOnEscape: true,
                    minWidth: 600,
                    open: function () {
                        $('#statmentsWrapper').fadeIn('fast');
                    },
                    buttons: {
                        Download: function () {
                            $('#getStatementsForm').submit();
                        },
                        Done: function () {
                            $(this).dialog("close");
                        }
                    }
                });
        })


    });
</script>

}
<h4>@Model.BatchType.ToString() Batches</h4>
    <div class="row" id="batchListRow">
        <div class="col-md-3">
            <fieldset id="newBatchFieldSet" class="navListCard">

                @using (Html.BeginForm(Model.NewBatchActionName, "Accounting", FormMethod.Post, new { id = "batchForm" }))
                {

                    <h5><a id="addNewBatch">Add new batch</a></h5>
                    <div class="newBatchFields" style="display:none;">
                        @Html.HiddenFor(model => model.BatchType)
                        @Html.LabelFor(model => model.AsOfDate)
                        @Html.EditorFor(model => model.AsOfDate)
                        @Html.LabelFor(model => model.NewBatch.Description)
                        @Html.EditorFor(model => model.NewBatch.Description)
                        @*<input type="text" id="SelectedBatch_Description" name="SelectedBatch.Description" value="Batch on: @(String.Format("{0:dd-MMM-yyyy h:mm tt}",DateTime.Now))" />*@
                        <br /><input id="command" name="command" type="submit" value="Add" />
                    </div>
                }
            </fieldset>

            @if (Model.Batches != null)
            {
                <div id="batchList" class="batchList navListCard">
                    @foreach (var batch in Model.Batches)
                    {
                        <div class="accountingBatch" data-batchid="@(batch.id)">
                            <h5 class="batchDescription">@(batch.Description)</h5>
                            <span class="batchLastUpdated">Last updated by @(batch.UpdatedBy)</span>
                            <span class="batchStatus">@(batch.Status)</span>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-9">
            <fieldset id="selectedBatchFieldset" class="card" style="display:none;">
                <div id="selectedBatch">

                </div>
                <div id="selectedBatchDetails">
                    <br /><a id='generateStatmentsLink' class='batchAction'>Generate Statements</a>
                            <div id='statmentsWrapper' style="display:none;">
@using (Html.BeginForm(Model.GetStatementsActionName, "Accounting", FormMethod.Post, new { id = "getStatementsForm", name = "getStatementsForm" }))
{                                <h4>Generate Statements</h4>
                                <input type="hidden" id="BatchId" name="BatchId" value="" />

                                    <label for="MessageHeader">Message Header</label>
                                    <input class="text-box single-line" id="MessageHeader" name="MessageHeader" type="text" value="" />
                                    <br />
                                    <label for="Message">Message</label>
                                    <textarea class="text-box multi-line" id="Message" name="Message"></textarea>
                                    <br />
                                    <label for="Format">Report Format</label>
                                    <select id="Format" name="Format">
                                        <option selected="selected" value="PDF">PDF</option>
                                        <option value="text">text</option>
                                    </select>
                                    <br />
                                    <label for="AdditionalPayableItems">Additional Items</label>
                                    <textarea style="width: 100%; min-height: 90px;font-size:.875em;" id="AdditionalPayableItems" name="AdditionalPayableItems"></textarea>
}
                               
                            </div>                    
                    <br /><a id='showOrders' class='expandingLink'></a>
                    <div id='orderListWrapper' style="display:none;"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="dialogContainer"></div>



