﻿@model IPD.Web.Models.DriverStatementViewModel
@{
    ViewBag.Title = "My Orders";
    
}

@using (Html.BeginForm())
{
    <fieldset>
        
            @Html.EditorFor(model => model)
        
            <input type="submit" value="Go" />
        
    </fieldset>
}