﻿@model IPD.InternalWeb.Models.RecentOrdersViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*<link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />*@
    <style>
        body { 
            
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0px;
            padding: 0px;
            padding-bottom:10px;
        }
        /*div {
            height: 300px;
        }*/
        table {
            font-size: .67em;            
            border-collapse: collapse;
            border-spacing: 0;
            bottom: 10px;
        }
        tbody {
            /*height: 100px;*/
            overflow: auto;
        }
        tr {
            border-bottom: 1px solid rgba(224, 224, 224, 1);

        }
        /*tr:nth-child(even) {
            background-color: #ffffff;
        }
        tr:nth-child(odd) {
            background-color: #eeeeee;*/
        }
        th {
            white-space: nowrap;
            background-color: #aaaaaa;            
            text-align:left;
            padding: 3px 2px;
            margin: 0px;

        }
        td {
            white-space: nowrap;
            /*padding: 6px 0px;*/
            padding: 3px 2px;
            margin: 0px;
        }
        .wrap {
            white-space: normal;
        }
        /*thead > tr, tbody {
            display: block;                       
        }*/
        thead {
            width: 100%;
        }         
        .orderStatusDELIVERYARRIVED {
            /*color: #42a129;*/
            color: darkgreen;
        }
        .orderStatusDELIVERYCOMPLETED{
            /*color: #20a127;*/
            color: darkgreen;
        }

        .orderStatusCANCEL {
            /*color: #cc0000;*/
            color: darkred;
        }
        .orderStatusOPEN
        {
            /*color: #fec52e;*/
            color: goldenrod;
        }
        .orderStatusSENDORDER {
            /*color: #dca30c;*/
            color: yellowgreen;
        }
        .orderStatusPICKUPCOMPLETED, 
        .orderStatusPICKUPARRIVED,
        .orderStatusASSIGN {
            /*color: #ba810a;*/
            color: green;
        }

        .asOfTime{
            font-size: x-small;
            text-align: right;
            position: fixed;
            bottom: 0px;
            right: 0px;
            color: gray;

        }

    </style>
</head>
<body>
        <table>
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Creation Date</th>
                    <th>Organization</th>
                    <th>Driver</th>
                    <th>Pickup</th>
                    <th>Last Stop</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var ro in Model.RecentOrders)
                    {
                        <tr class="@( "orderStatus" + ro.Status  )">
                            <td>@(ro.OrderNumber)</td>
                            <td>@(ro.CreateTime.ToString("d-MMM h:mm:ss"))</td>
                            <td>@(ro.CustomerName)</td>

                            <td>
                            @{
                                if (!String.IsNullOrEmpty(ro.DriverName)) {
                                    @*@Html.ActionLink(ro.DriverName, "DriverActivity", "Home", ro.DriverMobileNumber);*@
                                <a href="/Home/DriverActivity/@(ro.DriverMobileNumber)" target="_blank">@(ro.DriverName)</a>
                                    }
                            }
                            </td>
                            <td class="wrap">@( ro.FirstStop == null ? "" : ro.FirstStop.FullAddress.Replace(",", ", "))</td>
                            <td class="wrap">@( ro.LastStop == null ? "" : ro.LastStop.FullAddress.Replace(",", ", "))</td>
                            <td>@(ro.Status)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    <span class="asOfTime">*as of @(Model.CreationDateTime.ToString("M/d h:mm:ss tt"))</span>
</body>
</html>
