﻿/*
    IPD Colors:
    Yellow: rgb(255,199,42) #ffc72a
    Green:  rgb(140,145,101) #8c9165
*/
@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

label {
    font-weight:normal;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
    /*background-color:rgb(229, 229, 229);*/
    /*background-color: rgba(240, 240, 240, 1);*/
    
}

.navbar-fixed-top {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.card {
    /*box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);*/
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background-color: white;
}

.navListCard {
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);*/
    box-shadow: 0 0 1px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.12);
    background-color: white;
}

.ui-dialog,/* Overriding bootstrap theme */
.dialog {
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.4);
  box-shadow: 0 0 40px rgba(0,0,0,.4);
  background: #ffffff;
}
.dialogShadow {
  opacity: 1;
  background: rgba(0,0,0,0.6);
  min-height: 5000px;
  min-width: 5000px;
}
/* Overriding bootstrap theme */
.ui-dialog .ui-dialog-titlebar {
  padding: .1em .1em;
}

.ui-dialog label {
  min-width: 160px;
}

.ui-widget {
  /*font-family: Verdana,Arial,sans-serif*//*{ffDefault}*/
  font-size: 1.0em/*{fsDefault}*/;
}

  .ui-widget-content{
      border: 0px;
  }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0px/*{cornerRadius}*/;
}
.ui-widget-header {
    border: 0px;
    background: #cccccc;
}
.ui-dialog .ui-dialog-titlebar {
    display:none;
}

div {
    scrollbar-face-color: rgb(99,99,99);
    scrollbar-shadow-color: rgb(99,99,99);
    scrollbar-highlight-color: rgb(99,99,99);
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: rgb(79,79,79);
    scrollbar-track-color: rgb(79,79,79);
    scrollbar-arrow-color: #C1C1D1;
}
            div -webkit-scrollbar {
	            width: 5px;
	            height: 5px;
            }
            div -webkit-scrollbar-track {
	            background-color: rgba(159, 159, 159, 0.50);
	            /*-webkit-border-radius: 5px;*/
            }
            div -webkit-scrollbar-thumb:vertical {
                background: #9f9f9f;
	            /*background-color: rgba(79,79,79,.8);*/
	            /*-webkit-border-radius: 6px;*/
            }
            div -webkit-scrollbar-thumb:vertical:hover,
            div -webkit-scrollbar-thumb:horizontal:hover {
	            background: red;
            }
            div -webkit-scrollbar-thumb:horizontal {
	            background-color: rgba(0,0,0,.2);
	            /*-webkit-border-radius: 6px;*/
            }

.jumbotron {
    background-color:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.header-logo {
    float: left;
    margin-bottom: -15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

fieldset {
    /*background:rgba(240, 240, 240, 0.64);*/
    background-color: white;
    padding: 2px 10px  2px 10px;
    vertical-align: middle;
    padding: 10px 15px;
    margin-bottom: 10px;
}

    fieldset label{
        min-width: 10em;
        /*text-align:right;*/
        padding-right: 10px;
    }

    fieldset button,
    fieldset input[type=submit]{
        align-content:center;
        min-width: 5em;
        float:right;
    }

    fieldset textarea {
        min-width: 28em;
        min-height: 4em;
    }



pre {
    margin: 10px 0px;
}

button {
    margin-left: 3px;
    margin-right: 3px;
}

.jumbotron iframe {  
  border-width: 0px;

}

.editor-label
{
    /*display: inline;*/
    
}
    .editor-label label {
        /*float:left;*/
    }
    .editor-field {
        /*float:left;*/
        margin-left: 5px;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

footer {
  padding: 0px 10px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #cccccc;
}

td {
    padding: 4px;
}