﻿@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>IPD Driver Drivers</h4>
@section AdditionalHead
{
    <script src="~/Scripts/handsontable.full.js"></script>
    <link rel="stylesheet" media="screen" href="~/Content/handsontable.full.css">

    <style type="text/css">
.handsontable span.colHeader {
    color: #B2B2FF; /* pink ish */
    background-color: #FF7878; /* red */
}
    </style>
}
<style>
    .container {
        max-width: 1900px;
    }

    .handsontable span.colHeader {

    }
</style>

<div class="col-md-12 card" style=" padding: 0px 0px 0px 0px; ">
    <input type="hidden" id="skip" value="0"/>
    <select id="take">
        <option value="30">30</option>
        <option value="50" selected>50</option>
        <option value="100" >100</option>
        <option value="200">200</option>
    </select>
    <button id="butFirst">|&larr;</button>
    <button id="butPrevious">&larr;</button>
    <button id="butNext">&rarr;</button>
    <br/>
    <div id="hotContainer" class="handsontable col-md-8" style=" font-size:.8em; padding: 0px;margin-top: 3px;"></div>
    @*<div style="width:100%; height: 100%; padding: 0px;margin-top: 3px;">
        <div id="hotContainer" class="handsontable col-md-8" style="width:100%; height:100%;font-size:.8em; padding: 0px;margin-top: 3px;overflow-x:scroll;"></div>
    </div>*@
</div>
@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {

        var 
          container = document.getElementById('hotContainer'),
          hot,
          headerRow = [
            "Name",
            "Last Updated",
            "MobileNumber",
            "Email",
            "Business Name",
            "Address",
            "Availibility",
            "Active",
            "Vehicle",
            "Accessorials",
            "Size Limit",
            "Message"
          ];

        //hot = new Handsontable(container, {
        //    data: [ headerRow ],
        //    minSpareRows: 0,
        //    stretchH: 'none',
        //    colHeaders: true,
        //    fixedRowsTop: 1,
        //    wordWrap: false,
        //    colHeaders: false,
        //    rowHeaders: true,
        //    currentRowClassName: 'currentRow',
        //    currentColClassName: 'currentCol',
        //    autoColumnSize: true,
        //    contextMenu: true
        //});
        hot = new Handsontable(container, {
            data: [],
            minSpareRows: 0,
            stretchH: 'none',
            colHeaders: headerRow,
            columns: [
                {},
                {},
                { renderer: "html" },
                {},
                {},
                {},
                {},
                {},
                {},
                {},
                {},
                {}],
            fixedRowsTop: 1,
            wordWrap: false,
            //colHeaders: false,
            rowHeaders: true,
            currentRowClassName: 'currentRow',
            currentColClassName: 'currentCol',
            autoColumnSize: true,
            contextMenu: false
        });


        $('#butFirst').click(function (e) {
            $('#skip').val(0);
            fetch();
        });
        $('#butNext').click(function (e) {
            $('#skip').val(parseInt($('#skip').val()) + 1);
            fetch();
        });
        $('#butPrevious').click(function (e) {
            var skip = parseInt($('#skip').val()) - 1;
            if (skip < 0) {
                skip = 0;
            }
            $('#skip').val(skip);
            fetch();
        });

        function fetch() {
            $.ajax({
                url: "@Url.Action("DriverList", "Home")",
                dataType: "json",
                //contentType: "application/json",
                type: "POST",
                data: "pSkip=" + $('#skip').val() + "&pTake=" + $('#take').val(), //JSON.stringify(obj),
                success: function (response) {
                    //response.unshift(headerRow);
                    for (i = 0; i < response.length; i++)
                    {
                        var row = response[i];
                        row[2] = "<a target='_blank' href='/home/driveractivity/" + row[2] + "'>" + row[2] + "</a>";
                    }
                    hot.loadData(response);                    
                },
                error: function (xhr, ajaxOptions, error) {
                    alert(error);
                }
            });
        }

        fetch();
    });

    </script>

    }