﻿@model IPD.InternalWeb.Models.DriverActivityViewModel
@{
    ViewBag.Title = "Driver Activity";    
}

@section AdditionalHead
{
<link rel="stylesheet" type="text/css" href="~/Content/themes/base/all.css">

<style type="text/css">
      /*html { height: 1000px }
  body { height: 100px; margin: 0; padding: 0 }*/
  #map-canvas { 
      height:240px;
      width:100%;
      margin-top:10px;
  }
  #locationCurrent {
      /*float:left;
      display:inline-block;*/
  }
  #locationHistory{
      /*float:left;
      display:inline;*/
      font-size: .7em;
  }
.divHistory {
          max-height: 525px;
      overflow-y:scroll;
      overflow-x:hidden;
}

label {
    min-width: 180px;
    margin-left: 15px;
}
    .shortLabel{
        min-width:40px;        
    }

    .highlight {
        background-color:silver;
    }

.fyiNote {
    font-size: .6em;
}


</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlJA1GgwLZNRcjatgOppUyNfAPUIR7KVM">
</script>
<script type="text/javascript">
    function initialize() {
        var currentLocation = 
            @if (Model.DriverGPS != null) {
            <text>
                new google.maps.LatLng(@(Model.DriverGPS.GPSCoordinates.Latitude), @(Model.DriverGPS.GPSCoordinates.Longitude));
            </text>
            }
            else
            {
            <text>
            new google.maps.LatLng(33.749612,-84.388365);
            </text>
            }
        var mapOptions = {
            center: currentLocation,
            zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        @if (Model.DriverGPS != null && Model.DriverGPS.GPSCoordinates != null)
        {
            <text>
        var marker = new google.maps.Marker({
            position: currentLocation,
            map: map,
            title: 'Current Location as of @(Model.DriverGPS.TimeStampLocal))'
        });
        </text>
        }

        @if (Model.GPSDatas != null) {
            <text>
        var locationHistory = [
            </text>
            foreach(var gps in Model.GPSDatas)
            {
            <text>new google.maps.LatLng(@(gps.GPSCoordinates.Latitude),@(gps.GPSCoordinates.Longitude)),</text>
            }
        <text>
        ];
        
        //setup bounds
        var bounds = new google.maps.LatLngBounds();
        for(var i=0; i<locationHistory.length;i++)
        {
            bounds.extend(locationHistory[i]);
        }
        map.fitBounds(bounds);

        var locationPath = new google.maps.Polyline({
            path: locationHistory,
            geodesic: true,
            strokeColor:'#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
        locationPath.setMap(map);
        </text>
        }
        
        var markers = {};
        $("#tblLocationHistory tr").each(function(index) {
            try
            {
                $(this).data('idx',index);
            
                var lat = $(this).find(".lat")[0];
                var long = $(this).find(".long");
                var localTime = $(this).find(".localTime");
                if (lat)
                {
                    $(this).hover(
                        function () {
                            $(this).addClass('highlight');

                            if(!markers[$(this).data('idx')])
                            {
                                var latLong = new google.maps.LatLng($(lat).text(), $(long).text());                        
                                var marker = new google.maps.Marker({
                                    position: latLong,
                                    map: map,
                                    icon: {
                                        path: google.maps.SymbolPath.CIRCLE,
                                        scale: 3
                                    },
                                    title: 'as of ' + localTime.text()
                                });
                                markers[$(this).data('idx')] = marker;
                            }
                            markers[$(this).data('idx')].setMap(map);
                        },
                        function () {
                            $(this).removeClass('highlight');
                            markers[$(this).data('idx')].setMap(null);
                        }
                    );
                }
            }
            catch(e) { //Don't Care
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);



</script>
}

@section scripts
{
@Scripts.Render("~/bundles/jquery-ui")
<style type="text/css">
    .col-md-3 {
        padding-left: 15px;
        padding-right: 0px;
    }
    .col-md-9 {
        padding-left: 0px;
        padding-right: 15px;
    }
    </style>
<script type="text/javascript">
    $('#@Html.IdFor(m => m.MobileNumber)').autocomplete({
        source: '@Url.Action("DriverSearch", "Home")',
        minLength: 3,
        response: function(event, ui) {
            
        }
    });

</script>
}
@using (Html.BeginForm())
{
    <style>
        .container {
            max-width: 1900px;
        }
    </style>
    @*@Html.Partial("~/Views/Shared/_DriverSearch.cshtml" new ViewDataDictionary{ {}})*@
    <fieldset class="card">
        <label>Driver Search <span class="fyiNote">(Mobile # or search by name)</span> </label>
        @Html.TextBoxFor(m => m.MobileNumber, new { autocomplete = "off" })
        @if (Model.Driver != null)
        {
            <label>Driver:</label>
            <a href="~/Driver/Profile/@(Model.Driver.DRV_MOBILE_NUMBER)">@Model.Driver.DRV_NAME_Display</a>
            <label>Status <span class="fyiNote">(Oracle.Driver.DRV_STATUS)</span>:</label>
            @Html.ValueFor(m => m.Driver.DRV_STATUS)
        }
        
        @if (!String.IsNullOrEmpty(Model.MobileNumber) && Model.Driver == null)
        {
            <label style="font-style:italic">Mobile Number not recognized. </label>
        }
        <input type="submit" value="Go" />
    </fieldset>


    if (Model.DriverGPS != null)
    {

        <div class="container card">
            <div class="row">
                <div class="col-md-5">
                    <div id="locationCurrent">
                        <h4>Current <span class="fyiNote">(Mongo.DriverGPS)</span></h4>

                        @Html.LabelFor(m => m.DriverGPS.Status)
                        @Html.ValueFor(m => m.DriverGPS.Status)
                        <br />
                        <label>Latitude, Longitude</label>
                        @Html.ValueFor(m => m.DriverGPS.GPSCoordinates.Latitude),
                        @Html.ValueFor(m => m.DriverGPS.GPSCoordinates.Longitude)
                        <br />
                        @Html.LabelFor(m => m.DriverGPS.TimeStamp)
                        <span>@(Model.DriverGPS.TimeStamp.ToString("o"))</span>

                        <br />
                        @Html.LabelFor(m => m.DriverGPS.TimeStampLocal)
                        <span>@(Model.DriverGPS.TimeStampLocal.ToString("o"))</span>
                        <br />

                        @Html.LabelFor(m => m.DriverGPS.TimeStampLocal)
                        <span>@(Model.DriverGPS.TimeStampLocal.ToString("yyyy-MM-ddThh:mm:ss tt"))</span>&nbsp;<span>DST?: @(Model.DriverGPS.TimeStampLocal.IsDaylightSavingTime())</span>

                    </div>
                </div>
                <div class="col-md-7">
                    <div id="map-canvas"></div>
                </div>
            </div>
            <div class="row">
                <div id="locationHistory">


                    <h4>
                        History <span class="fyiNote">
    (Mongo.GpsData and Mongo.DriverInMessage)
    @Html.LabelFor(m => m.HistoryLimit, new { @class = "shortLabel" })
    @Html.EditorFor(m => m.HistoryLimit)
    @Html.LabelFor(m => m.HistoryPageNumber, new { @class = "shortLabel" })
    @Html.EditorFor(m => m.HistoryPageNumber)
                                    <input type="submit" value="Go" />
</span>
                        
                    </h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div id="divLocationHistory" class="divHistory">
                                <table id="tblLocationHistory">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Latitude</th>
                                            <th>Latitude</th>
                                            <th>Time Stamp (local)</th>
                                            <th>Time Stamp (UTC)</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.GPSDatas != null)
                                        {
                                            foreach (var gps in Model.GPSDatas)
                                            {
                                                <tr>
                                                    <td>@(gps.Status)</td>
                                                    <td class="lat">@(gps.GPSCoordinates.Latitude)</td>
                                                    <td class="long">@(gps.GPSCoordinates.Longitude)</td>
                                                    <td class="localTime">@(gps.TimeStamp.ToLocalTime().ToString("yyyy-MM-dd hh:mm:ss tt"))</td>
                                                    <td>@(gps.TimeStamp.ToString("o").Replace("T"," ").TrimEnd("0000Z".ToCharArray()))</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="divDriverInMessages" class="divHistory">
                                <table id="tblDriverInMessages">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Received (UTC)</th>
                                            <th>Created (UTC)</th>
                                            <th>Content</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.DriverInMessages != null)
                                        {
                                            foreach (var msg in Model.DriverInMessages)
                                            {
                                                <tr>
                                                    <td>@(msg.Type)</td>
                                                    <td>@(msg.Status)</td>
                                                    <td style="white-space:nowrap;">@(msg.ReceivedTime.ToString("o").Replace("T", " ").TrimEnd("0000Z".ToCharArray()))</td>
                                                    <td style="white-space:nowrap;">@(msg.CreateTime.ToString("o").Replace("T", " ").TrimEnd("0000Z".ToCharArray()))</td>
                                                    <td class="localTime">@(msg.Content)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }
}



