﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <h4>Order Statuses</h4>
    <div style="text-align: center; margin: 0px; padding:0px; ">
        <iframe id="chart" src="/home/chart" style="width: 1140px; height:310px; overflow:hidden; margin: 0px; padding:0px;"></iframe>
    </div>
    <h4>Recent Orders</h4>
    <iframe id="recent" src="/home/recentorders" style="width: 100%; min-height:375px;"></iframe>    
    @*<img src="/home/chart" />*@
</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>*@